*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-image: linear-gradient(to right,#006B38FF ,#755139FF);
    min-height: 100vh;
  }
  
  
  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }
  
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 3px solid #fff;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 28px;
    color: #ffffff;
  }
  
  .time_function{
      color: #ffffff;
      text-align: left;
      margin-top: 30px;
      font-size: 50px;
      border-bottom: 1px solid #000;
      margin-bottom: 20px;


  }
  h3{
    margin: 10px 0;
    color: silver;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .task{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin: 6px 0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .task i{
    float: right;
    margin-left: 40px;
    cursor: pointer;
    color: #006B38FF;
  }
  
  
  .comp .task{
    background: rgba(0,0,0,.5);
    color: #fff;
    
  }
  

  p{
    font-size: 20px;
    color: #ffffff;
    margin-top: 220px;
    text-align: center;
    letter-spacing: 4px;

  }

  a{
    text-decoration: none;
    color: tomato;
  }